<form class="container">
  <div class="form-group container">
    <div class="container row">
      <p class="h4 col-4">Test name:</p>
      <input type="text" class="form-control col" placeholder="Enter test name" #testName (input)="changeTestName(testName.value)">
    </div>
    <div class="container row">
      <p class="h4 col-4">Test token (optional):</p>
      <input type="text" class="form-control col" placeholder="Enter test token (optional)" #testToken (input)="changeTestToken(testToken.value)">
    </div>
  </div>
    <div class="container border border-info m-2" id="questionContainer">
      <p class="h4">Add questions:</p>
      <app-create-question class="m-2" (newQuestionEvent)="addQuestion($event)"></app-create-question>
      <div>
      <p class="h4">Questions:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let question of testData.questions">
            <em>{{ question.text }} (answers: <small *ngFor="let answer of question.answers">{{ answer.text }} </small>)</em>
          </li>
        </ul>
    </div>
    </div>
  <button type="submit" class="btn btn-primary" (click)="submit()">Submit test</button>
</form>
<div class="container alert-success" *ngIf="response">{{ response.message }}</div>
<div class="container border border-danger">
  {{ testData | json }}
</div>
