<div class="container">
  <div class="container" *ngIf="userTests; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock class="container">
    <p class="h3">Your tests:</p>
      <div *ngFor="let test of userTests">
        <div class="container">
          <p class="h4">ID: <em>{{ test.id }}</em> Name: <em>{{ test.name }}</em></p>
        </div>
      </div>
    <app-test-stat></app-test-stat>
  </ng-template>
  <ng-template #elseBlock class="container">
    <p class="h2">Please login</p>
  </ng-template>
</div>
