<form class="container">
  <div class="form-group">
    <label>Login</label>
    <input type="email" class="form-control" placeholder="Enter login" (input)="usernameInputHandler($event)">
  </div>
  <div class="form-group">
    <label >Password</label>
    <input type="password" class="form-control" placeholder="Enter password" (input)="passwordInputHandler($event)">
  </div>
  <div class="form-group">
    <label >Password again</label>
    <input type="password" class="form-control" placeholder="Enter password again" (input)="password2InputHandler($event)">
  </div>
  <button type="submit" class="btn btn-primary" (click)="sendData()">Submit</button>
</form>
<div class="container alert-info" *ngIf="message">
  {{ message.message }}
</div>
