<div class="container">
  <input class="form-control m-2" placeholder="Enter question text" #queText (input)="changeQuestionText(queText.value)">
  <div class="container border border-primary m-2">
    <app-create-answer (newAnswerEvent)="addAnswer($event)" class="m-2"></app-create-answer>
    <div>
      <p class="h4">Answers:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let answer of questionData.answers">
            <em>{{ answer.text }} ({{ answer.impact_type }} {{ answer.impact_value }} to scale "{{ answer.scale_name }}")</em>
          </li>
        </ul>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" (click)="submit(); queText.value = ''">Add question</button>
</div>
