<form class="container">
  <div class="form-group">
    <label>Login</label>
    <input type="text" class="form-control" placeholder="Login" (input)="usernameInputHandler($event)">
  </div>
  <div class="form-group">
    <label >Password</label>
    <input type="password" class="form-control"  placeholder="Password" (input)="passwordInputHandler($event)">
  </div>
  <button type="submit" class="btn btn-primary" (click)="sendData()">Submit</button>
</form>
<div class="container alert-info" *ngIf="authToken">
  Token successfully received
</div>
