<div *ngIf="testData; then thenBlock else elseBlock"></div>
<ng-template class="container m-2" #thenBlock>
  <div class="input-group mb-3" *ngIf="currentQuestion == questionQuantity; then submitBlock else questionBlock ">

  </div>
  <ng-template #questionBlock>
  <p class="h4">Test: <em>{{ testData.name }}</em></p>
  <div class="container m-2">
    <p class="h5">Question: {{ currentQuestion + 1 }}/{{ questionQuantity }}</p>
    <div class="border border-primary ">
      <p class="h4 m-2">{{ testData.questions[currentQuestion].text }}</p>
      <div *ngFor="let answer of testData.questions[currentQuestion].answers" class="form-check form-check-inline m-2">
        <input class="form-check-input" type="radio" name="{{ testData.questions[currentQuestion].id }}" value="{{ answer.id }}" #answerId (change)="addAnswer(answerId.value); nextQuestion()">
        <label class="form-check-label">{{ answer.text }}</label>
      </div>
    </div>
  </div>
  </ng-template>
  <ng-template #submitBlock>
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Your name:</span>
    </div>
  <input type="text" class="form-control" id="basic-url" #guestName (input)="changeGuestName(guestName.value)" >
  <button class="btn btn-primary" (click)="submit()">Submit test</button>

  </ng-template>
  <div class="border border-danger">
    {{ passTestData | json }}
  </div>
  <div class="border border-danger">
    <em>{{ testData | json }}</em>
  </div>
</ng-template>
<ng-template class="container" #elseBlock>
  <form class="container form-inline">
    <div class="form-group">
      <label>Test ID</label>
      <input type="text" class="form-control mx-sm-3" #testID placeholder="Enter test ID">
    </div>
    <button class="btn btn-primary" (click)="getTest(testID.value)">Get test</button>
  </form>
</ng-template>
<div class="alert-success" *ngIf="response">
  <p class="text-center h4">{{ response.message }}</p>
</div>

